.portion-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: auto;
}
.upper {
  width: 100%;
  background-color: #459e97;
  padding: 30px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: #e8e8e8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.upper-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.upper-left {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.middle-part {
  width: 100%;
}

.top {
  /* margin: 5px 0; */
}
.bottom {
  /* margin: 5px 0; */
}
