.app-div {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
  width: 100%;
}

/* Toggle button styling */
.toggle-button {
  display: none;
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
}

/* Small screen adjustments */
@media screen and (max-width: 768px) {
  .toggle-button {
    display: block;
  }

  .app-div {
    gap: 5px;
    width: 100%;
    padding: 5px;
  }

  .sidebar {
    display: none;
  }

  /* Slide-out animation */
  /* .app-div .sidebar {
    transform: translateX($ {({showSidebar}) => (showSidebar ? "0": "-100%")});
  } */

  .right {
    width: 100%;
  }
}
